<footer>
    <div class="d-flex justify-content-center buttons_foot_bar">
        <a href="#"> Powered by the dream team</a>
        <a href="#">Contact (please don't)</a>
    </div>
</footer>
</body>

</html>