<footer class="container">
    <div class="d-flex justify-content-between buttons_foot_bar">
        <a href="#">Powered by the dream team with <span>&hearts;</span></a>
        <a href="#">Contact (please don't)</a>
    </div>
</footer>
</body>

</html>