body {
  font-family: "Karla", sans-serif;
  background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  height: 10%;
}
main {
  height: 80%;
}

footer {
  height: 10%;
}

.container {
  margin: 0 auto;
  max-width: 1225px;
  height: 100%;
}

.buttons_nav_bar {
  width: 660px;
}

.buttons_nav_bar a {
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.buttons_foot_bar a {
  font-size: 15px;
  text-decoration: none;
  color: black;
  margin:  ;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}

.navbar_top {
  background-color: #f5db13;
  height: 93px;
  /* box-shadow: 0 5px 2px 0 #636658; */
  box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.45);
}
